@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

//Colores
$color-1: #85A392;
$color-2: #F5B971;
$color-3: #FDD998;
$color-4: #FFECC7;
$gradient-1: linear-gradient(284deg, rgba(133,163,146,1) 0%, rgba(253,217,152,1) 100%);
$gradient-2: linear-gradient(180deg, rgba(255,236,199,0.33657212885154064) 69%, rgba(253,217,152,1) 100%);
//font 
$text-font: 'Montserrat', sans-serif;

$main-with : 300px;