* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import './tokens';
@import './animations';
@import './buttons';
@import './titles';
@import './regalo';
@import './planeImg';

body {
  font-family: $text-font;
}
.index-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: $gradient-2;
}
.menu-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: $gradient-2;
}
